.ForgotPasswordForm {
  display: flex;
  flex-direction: column;
}

.ForgotPasswordForm {
  margin: 4vh 0 0;
}

.ForgotPasswordForm .ForgotPasswordSend {
  width: 100%;
  margin: 15px 0 0;
}

.ForgotPassword .ForgotPasswordBacktoLogin {
  margin: 8vh 0 0;
}
