.Login::part(scroll) {
  padding: 20px 0;
}
.Login::part(background) {
  background-color: var(--dt-primary);
}

.LoginWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.Login .Logo {
  width: fit-content;
  margin: 0 auto;
}
.Login .Logo svg {
  height: 160px;
  width: 94px;
}

.LoginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 56px auto 0;
}

.LoginForm .LoginInput:not(:first-of-type) {
  margin-top: 14px;
  width: 100%;
}
.LoginForm .LoginButton {
  margin: 30px 0 0;
}
.LoginForm .LoginForgotPassword {
  margin: 12px 0 0;
  align-self: flex-end;
}

.Login .orLoginWith {
  user-select: none;
  margin: 32px auto 0;
  color: #fff;
  font-weight: 400;
}

.Login .RegisterNow {
  user-select: none;
  display: flex;
  margin: 26px auto 0;
  color: #fff;
  font-weight: 400;
}
.Login .RegisterNow ion-button {
  margin-left: 3px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  text-decoration: underline;
}

.Login .LoginWith {
  margin-top: 20px;
}
.Login .LoginWith ion-button:not(:first-of-type) {
  margin-left: 25px;
}
.Login .LoginWith ion-button svg {
  flex-shrink: 0;
}
