.Materials {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 12px 0;
}

.MaterialsWrap {
  max-width: 320px;
  margin: 0 auto !important;
}

.MaterialsWrap > h1 {
  color: var(--dt-purple) !important;
  font-weight: 300;
}

.MaterialsWrap > div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: fit-content;
  margin: 0 auto 70px;
}

.MaterialsPages {
  margin-left: 0 !important;
}
.MaterialsPages .theme-button-link:not(:first-of-type) {
  margin-left: 12px;
}

.MaterialsLogos {
  display: flex;
  flex-wrap: wrap;
  padding: 24px;
  border-radius: 14px;
  background-color: var(--dt-purple-2);
}
.MaterialsLogos div {
  display: flex;
}
.MaterialsLogos p {
  color: var(--ion-color-step-150);
}
.MaterialsLogos svg {
  height: fit-content;
  width: 33.33333%;
  margin: 14px;
}

.MaterialsIcons,
.MaterialsPages {
  flex-direction: row !important;
}

.MaterialsColors {
  display: flex;
  flex-direction: row !important;
  grid-gap: 14px;
}
.MaterialsColors span {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.MaterialsButtons ion-button {
  width: 100%;
}
