.Materials {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 12px 90px;
  background-color: var(--ion-color-step-75);
  color: #fff;
}

.Materials > h1 {
  color: var(--ion-color-step-200);
}

.Materials > div {
  margin: 0 0 70px;
}

.MaterialsLogos {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
}
.MaterialsLogos div {
  display: flex;
}
.MaterialsLogos p {
  color: var(--ion-color-step-150);
}
.MaterialsLogos svg {
  height: fit-content;
  width: 33.33333%;
  margin: 14px;
}

.MaterialsButtons ion-button {
  width: 100%;
}
