.Materials {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 12px 0;
  background-color: var(--ion-color-step-75);
  color: #fff;
}

.Materials > h1 {
  color: var(--ion-color-step-200);
}

.MaterialsWrap {
  max-width: 320px;
  margin: 0 auto !important;
}

.MaterialsWrap > div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: fit-content;
  margin: 0 auto 70px;
}

.MaterialsPages .theme-button-link:not(:first-of-type) {
  margin-left: 12px;
}

.MaterialsLogos {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
}
.MaterialsLogos div {
  display: flex;
}
.MaterialsLogos p {
  color: var(--ion-color-step-150);
}
.MaterialsLogos svg {
  height: fit-content;
  width: 33.33333%;
  margin: 14px;
}

.MaterialsIcons,
.MaterialsPages {
  flex-direction: row !important;
}

.MaterialsButtons ion-button {
  width: 100%;
}
