.RegistrationForm {
  display: flex;
  flex-direction: column;
}
.RegistrationForm .RegistrationTypes {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  width: 100%;
}

.RegistrationForm .RegistrationTypes {
  margin: 11vh 0 0;
}

.RegistrationForm .RegistrationNext {
  margin: 14vh auto 0;
  width: 160px;
}
