.Register::part(scroll) {
  padding: 20px 0;
}
.Register::part(background) {
  background-color: var(--dt-primary);
}

.RegisterWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.Register .Logo {
  width: fit-content;
  margin: 0 auto;
}
.Register .Logo svg {
  height: 160px;
  width: 94px;
}

.Register .RegisterWith {
  display: flex;
  max-width: 300px;
  width: 100%;
  margin: 20px auto 0;
}
.Register .RegisterWith ion-button {
  height: 44px;
  width: 50%;
}
.Register .RegisterWith ion-button::part(native) {
  font-size: 14px;
}
.Register .RegisterWith ion-button:not(:first-of-type) {
  margin-left: 10px;
}
.Register .RegisterWith ion-button svg {
  flex-shrink: 0;
}

.Register .RegisterApple {
  min-width: 174px;
}

.Register .orRegisterWith {
  user-select: none;
  display: flex;
  align-items: center;
  position: relative;
  max-width: 300px;
  width: 100%;
  margin: 32px auto 0;
  color: #b9c0cf;
  font-weight: 400;
  text-align: center;
}
.Register .orRegisterWith::before {
  content: "";
  display: block;
  position: relative;
  height: 1px;
  width: 100%;
  margin-right: 16px;
  background-color: #808297;
}
.Register .orRegisterWith::after {
  content: "";
  display: block;
  position: relative;
  height: 1px;
  width: 100%;
  margin-left: 16px;
  background-color: #808297;
}

.RegisterForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 20px auto 0;
}

.RegisterForm .RegisterInput:not(:first-of-type) {
  margin-top: 14px;
  width: 100%;
}

.Register .haveAnAccount {
  user-select: none;
  display: flex;
  align-items: center;
  margin: 30px auto 0 0;
  color: #cbd1d9;
  font-weight: 400;
  line-height: 1;
}
.Register .haveAnAccount ion-button {
  margin-left: 3px;
  font-size: 16px;
  font-weight: 400;
}

.RegisterForm .RegisterButton {
  margin: 14px 0 0;
}
